<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1>Welcome to my page.</h1>
<form action="/analyse" method="get">
    <textarea name='text'style='margin: 0px; width: 758px; height: 79px;'></textarea><br>
    <input type="checkbox" name="removepunc">Remove punctuations<br>

    <input type="checkbox" name="fullcaps">UpperCase<br>
    <input type="checkbox" name="newlineremover">New Line Removere<br>
    <input type="checkbox" name="spaceremover">Removing Spaces<br>
    <input type="checkbox" name="charcount">Character Counting<br>



    <button type="submit">Analyse Text</button>
</form>
</body>
</html>